li {
    list-style-type: none;
}

body {
    background-color: #ebebeb;
    color: inherit;
}


#mainNav {
  margin-top: 110px;
}

.row1 {
    height: 250px;
    background-color: yellow;
    color: inherit;
}

.row6 {
    text-align: center;
    border-width: 10px 1px;
    border-style: solid;
}

.green {
    background-color: #339900;
    color: inherit;
}

.dream-lake {
    font: black;
    position: relative;
}

#lake-info {
    position: absolute;
}



.nav-hike {
    text-align: center;
}

@media only screen and (max-width: 1000px) {

  #mainNav {
    margin-top: 20px;
  }

    .row1 {
        background-color: #87cefa;
        height: 300px;
    }
    #bike-image, #camping-image {
        height: 300px;
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {

  #mainNav {
    margin-top: 10px;
  }

    .row1 {
        background-color: lightblue;
        height: 300px;
    }
    #bike-image, #camping-image {
        height: 250px;
        width: 350px;
    }
    .container {
        text-align: center;
    }
}
